:global {
  .flow-design-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #e3e5e8;
    z-index: 9999;

    .header {
      height: 64px;
      line-height: 64px;
      background-color: #444b51;
      padding: 0 16px;
    }

    .content {
      position: absolute;
      top: 64px;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
    }

    .flow-design-box {
      flex: 1;
      overflow: scroll;
    }

    .right-panel {
      flex: 0 0 300px;
      width: 300px;
    }
  }

  .ant-menu-submenu-popup {
    z-index: 10000;
  }

  .ant-modal-wrap {
    z-index: 10001;
  }

  .ant-popover {
    z-index: 10002;
  }

  .minimap {
    position: absolute;
    top: 0;
    left: 0;
  }
}
